<h4>Inbox</h4>

<table>
	<thead>
		<th>From</th>
		<th>Message</th>
		<th>Date / Time</th>
	</thead>
	<tbody>
		<% received_messages.each do |message| %>
			<tr>
				<td><%= message.sender.name %></td>
				<td><%= message.body %></td>
				<td><%= message.created_at.to_formatted_s(:short) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<!-- <ul class="received-message-list">
  <% received_messages.each do |message| %>
    <a class="received-message-link" href="<%= message_url(message.id) %>">
      <li class="received-message">
        <h4>From: <%= message.sender.name %></h4>
        <p><%= message.body %></p>
      </li>
    </a>
  <% end %>
</ul> -->