<h1 class="messages">Messages</h1>

<h4>Your conversation with <%= @other_user.name %></h4>
<form class="create-message group" action="<%= messages_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="message[recipient_id]" value="<%= @other_user.id %>">

  <textarea class="group" name="message[body]" placeholder="Send another message."></textarea>
	
  <input type="submit" value="Send Message">
</form>

<ul>
  <% @messages.each do |message| %>
    <li>
      <h4><%= message.updated_at.to_formatted_s(:long) %></h4>

      <% if current_user == message.sender %>
        <h4><%= "You:" %></h4>
      <% else %>
        <h4><%= message.sender.name + ":" %></h4>
      <% end %>
      <p><%= message.body %></p>
</li>
  <% end %>
</ul>