<h2 class="messages">Message Conversation</h2>

<main class="message-conversation">
	<h4><strong>Your conversation with <%= otherUser.get('name') %></strong></h4>
	
	<form class="create-message group" action="#/" method="post">
	  <input type="hidden" name="message[recipient_id]" value="<%= otherUser.get('id') %>">

	  <textarea class="create-message group" name="message[body]" placeholder="Send another message to <%= otherUser.get('name') %>"></textarea>

	  <input class="send-message" type="submit" value="Send Message">
	</form>
	
	<ul>
	  <% messages.each(function(message) { %>
		    <li>
					<header class="message-header group">
		      <% if (StreetEZ.currentUser === message.get('sender')) { %>
		        <p class="user"><%= "You:" %></p>
		      <% } else { %>
		        <p class="user"><%= message.sender.get('name') + ":" %></p>
		      <% } %>
		      <p class="datetime">
						<%= moment(message.get('created_at')).fromNow() %>
					</p>
					</header>
	      
		      <p class="message-body"><%= message.get('body') %></p>
			</li>
		<% }) %>
	</ul>
</main>