<ul class="owned-rentals-list">
  <li class="owned-rental">
    <div class="rental-thumbnail-header">
      <a href="<%= rental_url(owned_rental.id) %>">
				<% if owned_rental.photos.first %>
					<img class="rental-photo" src="<%= owned_rental.photos.first.file.url(:thumb) %>" alt="apartment_rental_photo">
				<% end %>
      </a>
      <p class="rental-address">
        <%= owned_rental.address.street + ' #' + owned_rental.address.unit %>
      </p>
      <p class="rental-price"><%= owned_rental.monthly_rent %> per month</p>
      <p class="rental-bedrooms"><%= owned_rental.num_bedrooms %> bed</p>
      <p class="rental-bathrooms"><%= owned_rental.num_bathrooms %> bath</p>
      <p class="rental-sq-footage"><%= owned_rental.sq_footage %> ft2</p>
    </div>
    <a href="<%= edit_rental_url(owned_rental.id) %>">Edit</a>
    <form action="<%= rental_url(owned_rental.id) %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input type="submit" value="Delete">
    </form>
  </li>
</ul>