<ul class="rentals-list">
  <li class="rental">
    <div class="rental-thumbnail-header">
      <a href="<%= rental_url(rental.id) %>">
				<% if rental.photos.first %>
					<img class="rental-photo" src="<%= rental.photos.first.file.url(:thumb) %>" alt="apartment_rental_photo">
				<% end %>
      </a>
      <p class="rental-address">
        <%= rental.address.street + ' #' + rental.address.unit %>
      </p>
      <p class="rental-price"><%= rental.monthly_rent %> per month</p>
      <p class="rental-bedrooms"><%= rental.num_bedrooms %> bed</p>
      <p class="rental-bathrooms"><%= rental.num_bathrooms %> bath</p>
      <p class="rental-sq-footage"><%= rental.sq_footage %> ft<sup>2</sup></p>
    </div>
		<% if rental.owner_id == current_user.id %>
			<form class="add-open-house" action="<%= open_houses_url %>" method="post">
				<input type="hidden" name="open_house[rental_id]" value="<%= rental.id %>">
				<%= auth_token %>
				<input class="add-open-house" type="datetime-local" name="open_house[event_datetime]">
				<input class="add-open-house" type="submit" value="Schedule Open House">
			</form>
			
			<a class="edit" href="<%= edit_rental_url(rental.id) %>">Edit</a>

	    <form class="delete" action="<%= rental_url(rental.id) %>" method="post">
	      <input type="hidden" name="_method" value="delete">
	      <%= auth_token %>
	      <input class="delete" type="submit" value="Delete">
	    </form>
			
		<% else %>
	    <form class="remove" action="<%= saved_rental_url(rental.id) %>" method="post">
	      <input type="hidden" name="_method" value="delete">
	      <%= auth_token %>
	      <input class="remove" type="submit" value="Remove">
	    </form>
		<% end %>
  </li>
</ul>