<label for="rental_street">Street</label>
<input id="rental_street" type="text" name="address[street]" value="<%= rental.address.street %>">

<label for="rental_unit">Unit #</label>
<input id="rental_unit" type="text" name="address[unit]" value="<%= rental.address.unit %>">

<label for="rental_city">City</label>
<input id="rental_city" type="text" name="address[city]" value="<%= rental.address.city %>">

<label for="rental_state">State</label>
<input id="rental_state" type="text" name="address[state]" value="<%= rental.address.state %>">

<label for="rental_zipcode">Zipcode</label>
<input id="rental_zipcode" type="text" name="address[zipcode]" value="<%= rental.address.zipcode %>">