<div class="enter-address-info group">
	
	<div class="neighborhood">
		<label for="rental_neighborhood">Neighborhood</label>
	  <select id="rental_neighborhood" name="rental[neighborhood]">
	  <% Rental::NEIGHBORHOODS.each do |neighborhood| %>
	    <option
				<%= rental.neighborhood == neighborhood ? "selected" : "" %>
				value="<%= neighborhood %>"><%= neighborhood %></option>
	  <% end %>
	  </select>
	</div>
	
	<div class="street">
		<label for="rental_street">Street</label>
		<input id="rental_street" type="text" name="address[street]" value="<%= rental.address.street %>">
	</div>
	
	<div class="unit">
		<label for="rental_unit">Unit #</label>
		<input id="rental_unit" type="text" name="address[unit]" value="<%= rental.address.unit %>">
	</div>
	
	<div class="city">
		<label for="rental_city">City</label>
		<input id="rental_city" type="text" name="address[city]" value="<%= rental.address.city %>">
	</div>
	
	<div class="state">
		<label for="rental_state">State</label>
		<input id="rental_state" type="text" name="address[state]" value="<%= rental.address.state %>">
	</div>
	
	<div class="zipcode">
		<label for="rental_zipcode">Zipcode</label>
		<input id="rental_zipcode" type="text" name="address[zipcode]" value="<%= rental.address.zipcode %>">
	</div>
	
</div>