<div class="featured">
	<h2>Featured Listings</h2>

	<ul class="featured-list">
	  <li class="featured-item">
	    <a href="<%= rental_url(rental_ex1.id) %>">
				<% if rental_ex1.photos.first %>
		      <img class="group" src="<%= rental_ex1.photos.first.file.url(:med) %>" alt="rental_listing">
				<% else %>
					<img src="#" alt="rental_listing">
				<% end %>
				
				<div class="featured-item-info">
					<p class="address"><%= rental_ex1.address.street %></p>
					<p class="price"><%= number_to_currency(rental_ex1.monthly_rent, precision: 0) %><p class="for-rent">FOR RENT</p></p>
			    <p><%= rental_ex1.num_bedrooms %> Bed</p>
				</div>
	    </a>
	  </li>

	  <li class="featured-item">
	    <a href="<%= rental_url(rental_ex2.id) %>">
				<% if rental_ex2.photos.first %>
		      <img class="group" src="<%= rental_ex2.photos.first.file.url(:med) %>" alt="rental_listing">
				<% else %>
					<img src="#" alt="rental_listing">
				<% end %>
				
				<div class="featured-item-info">
					<p class="address"><%= rental_ex2.address.street %></p>
					<p class="price"><%= number_to_currency(rental_ex2.monthly_rent, precision: 0) %><p class="for-rent">FOR RENT</p></p>
			    <p><%= rental_ex2.num_bedrooms %> Bed</p>
				</div>
	    </a>
	  </li>

	  <li class="featured-item">
	    <a href="<%= rental_url(rental_ex3.id) %>">
				<% if rental_ex3.photos.first %>
		      <img class="group" src="<%= rental_ex3.photos.first.file.url(:med) %>" alt="rental_listing">
				<% else %>
					<img src="#" alt="rental_listing">
				<% end %>
				
				<div class="featured-item-info">
					<p class="address"><%= rental_ex3.address.street %></p>
			    <p class="price"><%= number_to_currency(rental_ex3.monthly_rent, precision: 0) %><p class="for-rent">FOR RENT</p></p>
					<p><%= rental_ex3.num_bedrooms %> Bed</p>
				</div>
			</a>
	  </li>
	</ul>
</div>