<% if action == "create" %>
  <% action_url = rentals_url %>
<% else %>
  <% action_url = rental_url(rental.id) %>
<% end %>


<form class="create-rental clear" enctype=multipart/form-data action="<%= action_url %>" method="post">
  <% if action == "update" %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= auth_token %>

  <%= render "address_info_form", rental: rental %>

	<%= render "rental_info_form", rental: rental %>
	
	<div class="enter-photos">
	  <label for="rental-photos">Photos</label>
	  <input id="rental-photos" type="file" multiple name="photos[]">
	</div>
	
  <input class="submit" type="submit" value="<%= action.capitalize %> Listing">
</form>

<%= render "delete_photos", rental: rental %>