<div class="rental-info group">
	<div class="bed">
		<label for="rental_num_bedrooms">Bedrooms</label>
		<select id="rental_num_bedrooms" name="rental[num_bedrooms]">
		  <option value="">Select Number of Bedrooms</option>
			<% Rental::NUM_BEDROOMS.each do |num_bed| %>
				<option
					<%= rental.num_bedrooms == num_bed ? "selected" : "" %>
					value="<%= num_bed %>">
					<%= num_bed %>
				</option>
			<% end %>
		</select>
	</div>
	
	<div class="bath">
		<label for="rental_num_bathrooms">Bathrooms</label>
		<select id="rental_num_bathrooms" name="rental[num_bathrooms]">
		  <option value="">Select Number of Bathrooms</option>
		  <% Rental::NUM_BATHROOMS.each do |num_bath| %>
				<option
					<%= rental.num_bathrooms == num_bath ? "selected" : "" %>
					value="<%= num_bath %>">
					<%= num_bath %>
				</option>
			<% end %>
		</select>
	</div>
	
	<div class="sq-ft">
		<label for="rental_sq_footage">Square Footage</label>
		<input id="rental_sq_footage" type="number" name="rental[sq_footage]" value="<%= rental.sq_footage %>">ft<sup>2</sup>
	</div>
	
	<div class="price">
		<label for="rental_price">Monthly Rent</label>
		<input id="rental_price" type="number" name="rental[monthly_rent]" value="<%= number_to_currency(rental.monthly_rent, precision: 0) %>">
	</div>
	
	<div class="description">
		<label>
		  Description
		  <textarea class="rental-description" value="<%= rental.description %>"></textarea>
		</label>
	</div>
</div>