<% if current_user.saved_rentals.include?(rental) %>
  <form class="saved-rental" action="<%= saved_rental_url(current_user.saved_rentals.where(id: @rental.id)) %>" method="post">
		<input type="hidden" name="_method" value="delete">
    <input type="hidden" name="saved_rental[rental_id]" value="<%= rental.id %>">
    <%= auth_token %>
    <input type="submit" value="Remove from profile">
  </form>
<% else %>
  <form class="saved-rental" action="<%= saved_rentals_url %>" method="post">
    <input type="hidden" name="saved_rental[rental_id]" value="<%= rental.id %>">
    <%= auth_token %>
    <input type="submit" value="Save to profile">
  </form>
<% end %>