<div class="search ">
	<form class="search group" action="<%= rentals_url %>" method="get">
	  <%= auth_token %>
	
		<div class="neighborhoods group">
			<h4>Location</h4>
			<ul class="group">
			  <% Rental::NEIGHBORHOODS.sort.each_with_index do |neighborhood, idx| %>
					<li>
						<label for="rental_neighborhood">
				      <input
				        id="rental_neighborhood"
				        type="checkbox"
				        name="rental[neighborhoods][]"
				        value="<%= neighborhood %>"
								<% if params[:rental][:neighborhoods].include?(neighborhood) %>
									checked="true"
								<% end %>>
				      <%= neighborhood %>
				    </label>
					</li>
			  <% end %>
			</ul>
		</div>
	
		<div class="price-range group">
			<h4>Price</h4>
			<div class="textbox">
			  <input id="rental_price_min" type="number" name="rental[price_min]" value="<%= params[:rental][:price_min] %>">
			</div>
			<p>to</p>
			<div class="textbox">
			  <input id="rental_price_max" type="number" name="rental[price_max]" value="<%= params[:rental][:price_max] %>">
			</div>
		</div>
	
		<div class="bed-bath group">	
			<div class="beds">
				<h4>Beds</h4>
			  <select class="search" name="rental[num_bedrooms]">
			    <option value="">Select Number of Bedrooms</option>
					<% Rental::NUM_BEDROOMS.each do |bed| %>
						<option 
							value="<%= bed %>"
							<% if params[:rental][:num_bedrooms] == bed.to_s %>
								selected="selected"
							<% end  %>>
							<%= bed %>
						</option>
					<% end %>
			  </select>
			</div>

			<div class="baths">
				<h4>Baths</h4>
			  <select class="search" name="rental[num_bathrooms]">
			    <option value="">Select Number of Bathrooms</option>
					<% Rental::NUM_BATHROOMS.each do |bath| %>
						<option 
							value="<%= bath %>"
							<% if params[:rental][:num_bathrooms] == bath.to_s %>
								selected
							<% end  %>>
							<%= bath %>
						</option>
					<% end %>
			  </select>
			</div>
		</div>
	
		<div class="search-submit">
		  <input type="submit" value="Search">
		</div>
	</form>
</div>