<div class="search-show">

  <a href="<%= rental_url(rental.id) %>">
		<% if rental.photos.first %>
	    <img class="rental-photo" src="<%= rental.photos.first.file.url(:thumb) %>" alt="apartment_rental_photo">
		<% else %>
			<img class="rental-photo" src="#" alt="apartment_rental_photo">
		<% end %>
  </a>

  <div class="rental-thumbnail-header">
    <p class="rental-address">
      <%= rental.address.street + ' #' + rental.address.unit %>
    </p>

  </div>

  <p class="rental-price">$<%= rental.monthly_rent %> per month</p>
  <p class="rental-bedrooms"><%= rental.num_bedrooms %> bed</p>
  <p class="rental-bathrooms"><%= rental.num_bathrooms %> bath</p>
  <p class="rental-sq-footage"><%= rental.sq_footage %> ft<sup>2</sup></p>

</div>