<div class="search ">
	<form class="search group" id="search-criteria-form" data-remote="true" action="<%= rentals_url %>" method="get">
	
		<div class="neighborhoods group">
			<h4>Location</h4>
			<ul class="group">
			  <% Rental::NEIGHBORHOODS.sort.each_with_index do |neighborhood, idx| %>
					<li>
						<label for="rental_neighborhood_<%= neighborhood.html_safe %>">
				      <input
				        id="rental_neighborhood_<%= neighborhood.html_safe %>"
				        type="checkbox"
				        name="rental[neighborhoods][]"
				        value="<%= neighborhood %>"
								<% if params[:rental].try(:[], :neighborhoods)
																		 .try(:include?, neighborhood) %>
									checked="true"
								<% end %>>
				      <%= neighborhood %>
						</label>
					</li>
			  <% end %>
			</ul>
		</div>
	
		<div class="price-range group">
			<h4>Price</h4>
			<div class="textbox">
			  <input id="rental_price_min" type="number" name="rental[price_min]" value="<%= params.try(:[], :rental).try(:[], :price_min) %>">
			</div>
			<p>to</p>
			<div class="textbox">
			  <input id="rental_price_max" type="number" name="rental[price_max]" value="<%= params.try(:[], :rental).try(:[], :price_max) %>">
			</div>
		</div>
	
		<div class="bed-bath group">	
			<div class="beds">
				<h4>Beds</h4>
				<div>
				  <select class="search" name="rental[num_bedrooms]">
				    <option value="">Select Number of Bedrooms</option>
						<% Rental::NUM_BEDROOMS.each do |bed| %>
							<option 
								value="<%= bed %>"
								<% if params.try(:[], :rental).try(:[], :num_bedrooms) == bed.to_s %>
									selected="selected"
								<% end  %>>
								<%= bed %>
							</option>
						<% end %>
				  </select>
					<i class="fa fa-caret-down"></i>
				</div>
			</div>

			<div class="baths">
				<h4>Baths</h4>
			  <select class="search" name="rental[num_bathrooms]">
			    <option value="">Select Number of Bathrooms</option>
					<% Rental::NUM_BATHROOMS.each do |bath| %>
						<option 
							value="<%= bath %>"
							<% if params.try(:[], :rental).try(:[], :num_bathrooms) == bath.to_s %>
								selected
							<% end  %>>
							<%= bath %>
						</option>
					<% end %>
			  </select>
			</div>
		</div>
	
		<div class="search-submit">
		  <input class="execute-search" type="submit" value="Search">
		</div>
	</form>
</div>