<h3>Selected Listing</h3>

<div class="search-show">

  <div class="rental-photos">
    <% if @rental.photos %>
      <% @rental.photos.each do |photo| %>
        <img class="rental-photo" src="<%= photo.file.url(:thumb) %>" alt="apartment_rental_photo">
      <% end %>
    <% end %>
  </div>
  <div class="rental-thumbnail-header">
    <p class="rental-address">
      <%= @rental.address.street + ' #' + @rental.address.unit %>
    </p>

		<% if current_user.saved_rentals.include?(@rental) %>
	    <form class="create-saved-rental" action="<%= saved_rental_url(current_user.saved_rentals.where(id: @rental.id)) %>" method="post">
				<input type="hidden" name="_method" value="delete">
	      <input type="hidden" name="saved_rental[rental_id]" value="<%= @rental.id %>">
	      <%= auth_token %>
	      <input type="submit" value="Remove from profile">
	    </form>
		<% else %>
	    <form class="create-saved-rental" action="<%= saved_rentals_url %>" method="post">
	      <input type="hidden" name="saved_rental[rental_id]" value="<%= @rental.id %>">
	      <%= auth_token %>
	      <input type="submit" value="Save to profile">
	    </form>
		<% end %>
  </div>

  <p class="rental-price">$<%= @rental.monthly_rent %> per month</p>

  <p class="rental-bedrooms"><%= @rental.num_bedrooms %> bed</p>
  <p class="rental-bathrooms"><%= @rental.num_bathrooms %> bath</p>
  <p class="rental-sq-footage"><%= @rental.sq_footage %> ft2</p>

  <div class="owner-info">
    <p class="owner-email">Listed by <%= @rental.owner.name %></p>
    <form class="create-message" action="<%= messages_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="message[recipient_id]" value="<%= @rental.owner.id %>">

      <textarea name="message[body]">Send a message to the owner</textarea>
      <input type="submit" value="Send Message">
    </form>
  </div>
</div>