<h3>Selected Listing</h3>

<div class="search-show">
	
	<%= render "rental_show_photos", rental: @rental, featured_photo: @featured_photo %>
	
  <div class="rental-thumbnail-header">
    <p class="rental-address">
      <%= @rental.address.street + ' #' + @rental.address.unit %>
    </p>

		<%= render "saved_rental", rental: @rental %>
  </div>

  <p class="rental-price">$<%= @rental.monthly_rent %> per month</p>

  <p class="rental-bedrooms"><%= @rental.num_bedrooms %> bed</p>
  <p class="rental-bathrooms"><%= @rental.num_bathrooms %> bath</p>
  <p class="rental-sq-footage"><%= @rental.sq_footage %> ft2</p>

  <%= render "message_owner", rental: @rental %>
</div>