<div class="rental-show">	
	<section class="owner-actions group">
		<div class="action-buttons group">
			<% if @rental.owner == current_user %>
				<ul>
					<li>
						<a class="edit-rental" href="<%= edit_rental_url(@rental.id) %>">Edit</a>
					</li>
			
					<li>
					  <form class="delete-rental" action="<%= rental_url(@rental.id) %>" method="post">
					    <input type="hidden" name="_method" value="delete">
					    <%= auth_token %>
					    <input class="delete" type="submit" value="Delete">
					  </form>
					</li>
				</ul>
			<% end %>
		</div>
	</section>
	
	<section class="rental-info-and-photos group">
	  <div class="rental-info">
			<% if signed_in? && @rental.owner != current_user %>
				<%= render "saved_rental", rental: @rental %>
			<% end %>
		
	    <p class="address">
	      <%= @rental.address.street + ' #' + @rental.address.unit %>
	    </p>
		
			<p class="neighborhood"><%= @rental.neighborhood %></p>

		  <p class="price"><%= number_to_currency(@rental.monthly_rent, precision: 0) %><p class="for-rent">FOR RENT</p></p>
			<span class="detail-cells group">
			  <p class="bed"><%= @rental.num_bedrooms %> bed</p>
			  <p class="bath"><%= @rental.num_bathrooms %> bath</p>
			  <p class="sq-ft"><%= number_with_delimiter(@rental.sq_footage) %> ft<sup>2</sup></p>
			</span>
	
			<%= render "open_house", rental: @rental %>
	
			<p class="created-at">Listed on <%= @rental.created_at.strftime("%B %e, %Y") %> by <%= @rental.owner.name %></p>
			
			<% if signed_in? %>
				<%= render "message_owner", rental: @rental %>
			<% else %>
				<a class="sign-in" href="<%= new_session_url %>">Sign in to send a message to the owner</a>
			<% end %>
		</div>
	
		<div class="rental-photos-and-description">
			<%= render "rental_show_photos", rental: @rental, featured_photo: @featured_photo %>
			
			<p class="rental-description"><%= @rental.description %></p>
		</div>
	</section>
</div>