<h3>Featured Listings</h3>

<ul class="featured">
  <li class="featured-1">
    <a href="<%= rental_url(rental_ex1.id) %>">
      <img src="" alt="rental_listing">
    </a>

    <p class="featured-1"><%= rental_ex1.num_bedrooms %> Beds</p>
    <p class="featured-1"><%= rental_ex1.monthly_rent %> Beds</p>
  </li>

  <li class="featured-2">
    <a href="<%= rental_url(rental_ex2.id) %>">
      <img src="" alt="rental_listing">
    </a>

    <p class="featured-2"><%= rental_ex2.num_bedrooms %> Beds</p>
    <p class="featured-1"><%= rental_ex2.monthly_rent %> Beds</p>
  </li>

  <li class="featured-3">
    <a href="<%= rental_url(rental_ex3.id) %>">
      <img src="" alt="rental_listing">
    </a>

    <p class="featured-3"><%= rental_ex3.num_bedrooms %> Beds</p>
    <p class="featured-1"><%= rental_ex3.monthly_rent %> Beds</p>
  </li>
</ul>