<!DOCTYPE html>
<html>
<head>
  <title>StreetEZ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="logo"><a class="logo-link" href="/">StreetEZ</a></h1>

<% if signed_in? %>
  <a href="#">My Account</a>
  <%= button_to "Sign Out", session_url, method:"delete" %>
  Signed in as: <%= current_user.email %>
<% else %>
  <a href="<%= new_session_url %>">Sign In</a>
  <a href="<%= new_user_url %>">Sign up</a>
<% end %>
<p><div class="error">
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
</div></p>


<%= yield %>


</body>
</html>
