<!-- <div class="search-results-list">
	<ul id="search-results-ul">
		<li class="search-show group">

		  <a href="<%= rental_url(rental.id) %>" id="search-result">
				<%= featured_photo(rental) %>

			  <div class="listing-info">
			    <p class="address" id="address">
			      <%= rental.address.street + ' #' + rental.address.unit %>
			    </p>
			
				  <p class="price">
						<%= number_to_currency(rental.monthly_rent, precision: 0) %>
					</p>
					<p class="for-rent">FOR RENT</p>
				  <p class="bed"><%= rental.num_bedrooms %> Bed</p>
				  <p class="bath"><%= rental.num_bathrooms %> Bath</p>
				  <p class="sq-ft"><%= number_with_delimiter(rental.sq_footage) %> ft<sup>2</sup></p>
					<p class="created-at">Listed on <%= rental.created_at.strftime("%B %e, %Y") %></p>
			  </div>
			</a>
		</li>
	</ul>
</div> -->